body {
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: auto;
  overflow-x: hidden;
}

.container h1 {
  color: white;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
  margin: 10px;
  background-image: linear-gradient(135deg, yellow, goldenrod, gold);
  box-shadow: 6px 6px 5px black;
  transform: translateX(300%);
  transition: transform 0.7s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-300%);
}

.box.show {
  transform: translateX(0);
}
